<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <profiles>
        <profile>
            <id>lightwell-remediated</id>
            <repositories>
                <repository>
                    <id>lightwell-remediated</id>
                    <name>Red Hat Lightwell Network - Remediated</name>
                    <url>https://packages.redhat.com/lightwell/public-lightwell-demo/java/remediated/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>lightwell-remediated</activeProfile>
    </activeProfiles>

    <servers>
        <server>
            <id>lightwell-remediated</id>
            <username>yyyyy</username>
            <password>xxxxx</password>
        </server>
    </servers>

</settings>